In [32]:
import pandas as pd

In [33]:
df1 = pd.read_csv('vietnamesenutrition1.csv')
df1

,tablescraper-selected-row,tablescraper-selected-row 2,tablescraper-selected-row 3,tablescraper-selected-row 4,tablescraper-selected-row 5,tablescraper-selected-row 6,tablescraper-selected-row 7
0,THỨC ĂN,SỐ LƯỢNG,CALO (kcal),ĐẠM (g),BÉO (g),BỘT / ĐƯỜNG (g),XƠ (g)
1,Cơm trắng,1 chén vừa,200,4.6,0.6,44.2,0.23
2,Cơm trắng,1 đĩa cơm phần,406,9.3,1.2,89.9,0.47
3,Bầu xào trứng,1 đĩa,109,4,8.5,4,1.3
4,Bò bía,3 cuốn,93,5.8,4.3,7.7,0.47
...,...,...,...,...,...,...,...
304,Vú sữa,1 trái,83,NaN,2,0,18.5
305,Ổi,1 trái,53,NaN,1,0,12.3
306,Thanh long,1 trái,225,NaN,7.3,0,49
307,Mận đỏ,1 trái,11,NaN,0.3,0,2.5
308,Củ sắn,1 củ,52,NaN,1.9,0,11.1

In [51]:
# cp the second row to first row

row0 = df1.loc[0].tolist()
head = df1.columns.tolist()
df1 = df1.rename(columns=dict(zip(head,row0)))

,THỨC ĂN,SỐ LƯỢNG,CALO (kcal),ĐẠM (g),BÉO (g),BỘT / ĐƯỜNG (g),XƠ (g)
0,THỨC ĂN,SỐ LƯỢNG,CALO (kcal),ĐẠM (g),BÉO (g),BỘT / ĐƯỜNG (g),XƠ (g)
1,Cơm trắng,1 chén vừa,200,4.6,0.6,44.2,0.23
2,Cơm trắng,1 đĩa cơm phần,406,9.3,1.2,89.9,0.47
3,Bầu xào trứng,1 đĩa,109,4,8.5,4,1.3
4,Bò bía,3 cuốn,93,5.8,4.3,7.7,0.47
...,...,...,...,...,...,...,...
304,Vú sữa,1 trái,83,NaN,2,0,18.5
305,Ổi,1 trái,53,NaN,1,0,12.3
306,Thanh long,1 trái,225,NaN,7.3,0,49
307,Mận đỏ,1 trái,11,NaN,0.3,0,2.5
308,Củ sắn,1 củ,52,NaN,1.9,0,11.1

In [56]:
# remove first row
df1

,THỨC ĂN,SỐ LƯỢNG,CALO (kcal),ĐẠM (g),BÉO (g),BỘT / ĐƯỜNG (g),XƠ (g)
1,Cơm trắng,1 chén vừa,200,4.6,0.6,44.2,0.23
2,Cơm trắng,1 đĩa cơm phần,406,9.3,1.2,89.9,0.47
3,Bầu xào trứng,1 đĩa,109,4,8.5,4,1.3
4,Bò bía,3 cuốn,93,5.8,4.3,7.7,0.47
5,Bò cuốn lá lốt,8 cuốn,841,49,12.5,133.1,6.86
...,...,...,...,...,...,...,...
304,Vú sữa,1 trái,83,NaN,2,0,18.5
305,Ổi,1 trái,53,NaN,1,0,12.3
306,Thanh long,1 trái,225,NaN,7.3,0,49
307,Mận đỏ,1 trái,11,NaN,0.3,0,2.5
308,Củ sắn,1 củ,52,NaN,1.9,0,11.1

In [59]:
# info
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 1 to 308
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   THỨC ĂN          308 non-null    object
 1   SỐ LƯỢNG         308 non-null    object
 2   CALO (kcal)      308 non-null    object
 3   ĐẠM (g)          206 non-null    object
 4   BÉO (g)          308 non-null    object
 5   BỘT / ĐƯỜNG (g)  308 non-null    object
 6   XƠ (g)           308 non-null    object
dtypes: object(7)
memory usage: 17.0+ KB

In [61]:
# describe
df1.describe(include='all')

          THỨC ĂN SỐ LƯỢNG CALO (kcal) ĐẠM (g) BÉO (g) BỘT / ĐƯỜNG (g) XƠ (g)
count         308      308         308     206     308             308    308
unique        295       50         231     154     153             196    209
top     Cơm trắng    1 đĩa          14    14.9     2.1               0      0
freq            2       54           4       4      10              48     23

In [67]:
# convert dtype of third column to float
float_columns = df1.columns.tolist()[2:]
df1[float_columns] = df1[float_columns].astype(float)

In [77]:
# split so luong column to 2 column by split by space
new_cols =  df1['SỐ LƯỢNG'].str.split(' ',expand=True,n=1)
df1['number'] = new_cols[0]
df1['unit'] = new_cols[1]
df1 = df1.drop(columns='SỐ LƯỢNG')

In [ ]:
# extract all row that have number as string
bad_rows = df1[df1['number'].str.contains('[a-zA-Z]')]
# remove 
df1 = df1.drop(bad_rows.index)

In [84]:
# convert number column to float
df1['number'] = df1['number'].astype(float)

In [85]:
# convert unit column and THỨC ĂN to string
df1['unit'] = df1['unit'].astype(str)

In [86]:
# rename column name from non-english to english
df1 = df1.rename(columns={'THỨC ĂN':'food'})
df1 = df1.rename(columns={'ĐẠM (g)': 'protein (g)'})
df1 = df1.rename(columns={'CHẤT BÉO (g)': 'fat (g)'})
df1 = df1.rename(columns={'BỘT / ĐƯỜNG (g)': 'sugar (g)'})
df1 = df1.rename(columns={'XƠ (g)': 'fiber (g)'})

In [87]:
df1

,food,CALO (kcal),protein (g),BÉO (g),sugar (g),fiber (g),number,unit
1,Cơm trắng,200.0,4.6,0.6,44.2,0.23,1.0,chén vừa
2,Cơm trắng,406.0,9.3,1.2,89.9,0.47,1.0,đĩa cơm phần
3,Bầu xào trứng,109.0,4.0,8.5,4.0,1.30,1.0,đĩa
4,Bò bía,93.0,5.8,4.3,7.7,0.47,3.0,cuốn
5,Bò cuốn lá lốt,841.0,49.0,12.5,133.1,6.86,8.0,cuốn
...,...,...,...,...,...,...,...,...
304,Vú sữa,83.0,NaN,2.0,0.0,18.50,1.0,trái
305,Ổi,53.0,NaN,1.0,0.0,12.30,1.0,trái
306,Thanh long,225.0,NaN,7.3,0.0,49.00,1.0,trái
307,Mận đỏ,11.0,NaN,0.3,0.0,2.50,1.0,trái
308,Củ sắn,52.0,NaN,1.9,0.0,11.10,1.0,củ

In [88]:
# save to csv
df1.to_csv('vietnamesenutrition_clean.csv',index=False)